/* ------------------ Global ------------------ */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  color: #222;
}

/* ------------------ Header ------------------ */

/* ------------------ Hero Section ------------------ */

/* ------------------ About Section ------------------ */

/* ------------------ Contact Section ------------------ */

/* ------------------ Map Section ------------------ */
/* ------------------ Map Section ------------------ */

/* ------------------ Footer ------------------ */

/* ------------------ Responsive ------------------ */
